[dwhois]
user=your_username
password=your_password
url=https://path/to/api/version/

[cache]
use_cache=True
url=mongodb://url_to_mongodb/ (optional, defaults to localhost)
db=dwhois
collection=dwhois
